<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

<nav th:fragment="navigation">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>

        <th:block sec:authorize="!isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/players/all}">All Tennis Players</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/login}">Login</a>
            </li>

        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/catalog}">My Team</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/players/create}">Create Tennis Player</a>
            </li>

            <li class="nav-item">
                <form method="POST" th:action="@{/users/logout}">
                    <button type="submit" name="submit" value="value" class="nav__button">Logout</button>
                </form>
            </li>

        </th:block>
    </ul>

</nav>


</body>

</html>