<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

<nav th:fragment="navigation">
    <ul>



        <th:block sec:authorize="!isAuthenticated()">

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>

        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/createTennisPlayer}">Create Tennis Player</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/createCoach}">Create Coach</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>

            <th:block sec:authorize="hasRole('ROLE_ADMIN')">

                <a class="nav-link" th:href="@{/admin}">Admin</a>

            </th:block>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <div class="form-inline my-2 my-lg-0 px-3">
                    <h4><div class="">Welcome,
                        <th:block sec:authentication="name"></th:block>
                        !
                    </div></h4>
                    <form
                            th:action="@{/logout}"
                            th:method="post">
                        <input class="" type="submit" value="Logout">
                    </form>
                </div>
            </li>

        </th:block>
    </ul>

</nav>


</body>

</html>