body {
    background-image: url('/images/image-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
}

nav li {
    margin: 20px 5px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-out;
    background-color: #333;
}

nav a:hover {
    color:  #2E8B57;
}
.nav-item {
    margin: 20px 5px;
}

.nav__button {
    color: white;
    text-decoration: none;
    background-color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.nav__button:hover {
    background-color: #2E8B57;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    margin: 20px 100px;
    background-color: #333;
}

.title__home {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.description__home {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.container__login {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #333;
}

.title__login {
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.username__login,
.password__login {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 95%;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

input[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}

.button__login {
    text-align: center;

}

input[type="submit"]:hover {
    background-color: #2E8B57;
}
.form__register {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #333;
}

.form__register h2 ,.create__coach__title,.create__title{
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.form__register label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}


.form__register input[type="text"],
.form__register input[type="password"] {
    display: block;
    width: 95%;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.form__register input[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}

.form__register input[type="submit"]:hover {
    background-color: #2E8B57;
}

.register__confirmPassword,.register__password,.register__email,.register__lastName,.register__firstName{
    color: red;
    font-size: large;
}

.container__create-player {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #333;
}

.create__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}


.create__input , .create__select ,.coach__input{
    display: block;
    width: 95%;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.create__select {
    width: 100%;
}

.create__button,.coach__btn {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}

.create__button:hover,.coach__btn:hover {
    background-color: #2E8B57;
}

.title__create{
    color: white;
    font-size: large;
    text-align: center;
}
.player {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #333;
}
.player-info {
    flex-grow: 1;
}

.player-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.player-details {
    display: flex;
    flex-wrap: wrap;
}

.player-details div {
    margin-right: 20px;
}

.player-details div span {
    font-weight: bold;
}

.catalog__body {
    background-color: #333;
}

.catalog_container {
    max-width: 800px;
    margin: 0 auto;
}

.player img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.player-name,
.player-details div span {
    color: #fff;
}

.catalog__title{
    color:white;
    background-color: #333;
    font-size: large;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0 ;
}

.details__button {
    color: white;
    text-decoration: none;
    background-color: green;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    padding: 5px;
    font-size: medium;
    margin: 10px 0 ;
}

.details__button:hover {
    background-color: #2E8B57;
}
.details-container {
    display: flex;
    align-items: center;
    margin : 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #333;
    width: 50%;

}

.details-img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    width: 50%;
    margin: 20px 0 ;
}

.details-name {
    font-size: large;
    margin-bottom: 10px;
}

.details-details div {
    margin-bottom: 5px;
}

.details__delete__btn , .details__edit__btn{
    color: white;
    text-decoration: none;
    background-color: green;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    padding: 5px;
    font-size: medium;
    margin: 10px 0 ;
}

.details__delete__btn:hover , .details__edit__btn:hover{
    background-color: #2E8B57;
}






footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.btn__main{
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}
.btn__main:hover {
    background-color: #2E8B57;
}

.all__players__link , .all__coaches__link{
    color: white;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
}

.register__para, .register__link {
    color: white;
    text-decoration: none;
    margin-top: 5px;
}
.welcome{
    color:white;
}

.profile__container,.create__coach__container,.all__coaches,.container__create__player{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #333;
    color:white;
}

