<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<body>
<div class="wrapper">


    <section class="road" th:each="user : ${users}" th:object="${user}">
        <div>
            <h2 th:text="*{username}">Username</h2>
            <p th:text="*{email}">Mail</p>
            <p th:text="*{fullName}">Full Name</p>
            <p th:text="*{roles}">Roles</p>
            <div><p></p></div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form
                        th:action="@{/remove-roles/admin/{id}(id=*{id})}"
                        th:method="DELETE">
                    <input class="" type="submit" value="Remove User">
                </form>
            </th:block>
            <div><p></p></div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form
                        th:action="@{/remove-roles/admin/{id}(id=*{id})}"
                        th:method="PATCH">
                    <input class="" type="submit" value="Remove Admin Role">
                </form>
            </th:block>
            <div><p></p></div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form
                        th:action="@{/add-roles/admin/{id}(id=*{id})}"
                        th:method="PATCH">
                    <input class="" type="submit" value="Give Admin role">
                </form>
            </th:block>
        </div>
    </section>


</div>


<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>