<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="create__coach__container">
    <form class="form__coach"
          th:action="@{/createCoach}"
          th:method="POST"
          th:object="${addCoachDTO}">
        <h3 class="create__coach__title">Add a new coach</h3>

        <div>
            <div class="coach__name"></div>
            <label class="coach__label">Name</label>
            <input class="coach__input"
                   id="name"
                   minlength="1"
                   name="name" required
                   th:errorclass="is-invalid"
                   th:field="*{name}"
                   type="text">
            </div>

        <div/>

            <div>
                <div class="coach__yearOfBirth"></div>
                <label class="coach__yearOfBirth">Year of birth</label>
                <input class="coach__input"
                       id="yearOfBirth"
                       minlength="1"
                       name="yearOfBirth" required
                       th:errorclass="is-invalid"
                       th:field="*{yearOfBirth}"
                       type="number">
            </div>
        <div/>

        <div/>

        <div>
                <div class="coach__nationality"></div>
                <label class="coach__nationality">Nationality</label>
                <input class="coach__input"
                       id="nationality"
                       minlength="1"
                       name="nationality" required
                       th:errorclass="is-invalid"
                       th:field="*{nationality}"
                       type="text">
                </div>

        <div/>
            <div class="coach__btn__container">
                <button class="coach__btn" type="submit">Add Coach</button>
            </div>

    </form>

</div>


<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>