<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>
    <div>
        <nav th:replace="~{fragments/navigation}"></nav>
    </div>

    <div class="container__create__player">
    <form class=""
          th:action="@{/createTennisPlayer}"
          th:method="POST"
          th:object="${addTennisPlayerDTO}">

        <h3 class="create__title">Add a new Tennis Player</h3>
        <div class="create__name">
            <small class="invalid">Name length must be more than 3 characters</small>

            <input class="create__input"
            minlength="3"
            name="firstName" required
            th:errorclass="is-invalid"
            th:field="*{firstName}"
            type="text">
        </div>

        <div class="create__name">
            <small class="invalid">Name length must be more than 3 characters</small>

            <input class="create__input"
                   minlength="3"
                   name="lastName" required
                   th:errorclass="is-invalid"
                   th:field="*{lastName}"
                   type="text">
        </div>

        <div class="create__name">
            <small class="invalid">Nationality length must be more than 3 characters</small>

            <input class="create__input"
                   minlength="3"
                   name="nationality" required
                   th:errorclass="is-invalid"
                   th:field="*{nationality}"
                   type="text">
        </div>

        <div class="create__name">
            <small class="invalid">Age must be positive number</small>

            <input class="create__input"

                   name="age" required
                   th:errorclass="is-invalid"
                   th:field="*{age}"
                   type="number">
        </div>
        <div class="create__name">
            <small class="invalid">Ranking must be positive number</small>

            <input class="create__input"

                   name="ranking" required
                   th:errorclass="is-invalid"
                   th:field="*{ranking}"
                   type="number">
        </div>
        <div class="create__name">
            <small class="invalid">ImageUrl length must be more than 3 characters</small>

            <input class="create__input"
                   minlength="3"
                   name="imageUrl" required
                   th:errorclass="is-invalid"
                   th:field="*{imageUrl}"
                   type="text">
        </div>

        <div>
            <div class="create__coach__container">
                <label for="coach" >Coach</label>
                <select  id="coach" class="coach__select" th:field="*{coach}">
                    <option selected th:each="coach : ${coaches}" th:text="${coach.name}" th:value="${coach.id}">
                        Select Coach
                    </option>
                </select>
            </div>
            <p class="coach_para">Coach Does Not Exist ?<a class="coach__tag"
                                                                                   th:href="@{/createCoach}"><u>Add it
                here</u></a></p>
        </div>

        <div>
            <div class="create__sponsor__container">
                <label for="sponsor">Sponsor</label>
                <select class="create__sponsor" id="sponsor"  th:field="*{sponsor}">
                    <option selected th:each="sponsor : ${sponsors}" th:text="${sponsor.sponsorName}" th:value="${sponsor.id}">
                        Select sponsor
                    </option>


                </select>
            </div>
        </div>

        <div >
            <button class="create__button" type="submit">Add Tennis Player</button>
        </div>

    </form>
    </div>





    <div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>