<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="../static/jc/deletePlayer.js"></script>
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div class="details-container">
    <img class="details-img" th:src="${player.imageUrl}" alt="player image">
    <div class="details-info">
        <div class="details-name" th:text="${player.firstName + ' ' + player.lastName}"></div>
        <div class="details-details">
            <div class="details-age"><span>Age:</span> <span th:text="${player.age}"></span></div>
            <div class="details-nationality"><span>Nationality:</span> <span th:text="${player.nationality}"></span></div>
            <div class="details-ranking"><span>Ranking:</span> <span th:text="${player.ranking}"></span></div>
            <div class="details-player-style"><span>Player Style:</span> <span th:text="${player.playerStyle}"></span></div>
            <div class="catalog__details__buttons">
                <a th:href="@{/players/edit/{id}(id=${player.id})}">
                    <button type="button" class="details__edit__btn">Edit</button>
                </a>
                <a th:href="@{/players/delete/{id}(id=${player.id})}">
                    <button id="deleteBtn" type="button" class="details__delete__btn" onclick="deletePlayer(${player.id})">Delete</button>
                </a>

            </div>

        </div>
    </div>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>

