<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <span th:replace="~{fragments/head}"></span>
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>



<form th:method="POST"
      th:action="@{/register}"
      th:object="${registrationDTO}"
      class="form__register">

    <h2 class="">Register User</h2>
    <div class="">
        <div class="">

            <label th:for="username"
                   class="">Username</label>

            <input type="text"
                   th:field="*{username}"
                   class="register__username"
                   placeholder="Username"
            />

            <p th:if="${#fields.hasErrors('username')}"
               class="register__username">
               Username is required.
            </p>

        </div>


    </div>

    <div class="">
        <div class="">

            <label th:for="email"
                   class="">
               Email
            </label>

            <input th:field="*{email}"
                   class="register__email"
                   placeholder="Email"
                   th:value="*{email}"
                   type="text"/>
            <p th:if="${#fields.hasErrors('email')}"
               class="register__email">
                Valid email is required.
            </p>
        </div>
    </div>

    <div class="">
        <div class="">
            <label for="password"
                   class="">
                Password
            </label>
            <input id="password"
                   name="password"
                   type="password"
                   class="register__password"
                   placeholder="Password"
            />
            <p th:if="${#fields.hasErrors('password')}"
               class="register__password">
                Password is required.
            </p>
        </div>

        <div class="">

            <label for="confirmPassword"
                   class="">
                Confirm Password
            </label>

            <input id="confirmPassword"
                   name="confirmPassword"
                   type="password"
                   min="2"
                   max="20"
                   class="register__confirmPassword"
                   placeholder="Password"/>

            <p th:if="${#fields.hasErrors('confirmPassword')}"
               class="register__confirmPassword">
                Passwords does not match.
            </p>

        </div>

        <div class="">

            <label for="fullName"
                   class="">
                Full Name
            </label>

            <input id="fullName"
                   name="fullName"
                   type="text"
                   min="2"
                   max="20"
                   class="register__fullName"
                   placeholder="Full Name"/>

            <p th:if="${#fields.hasErrors('confirmPassword')}"
               class="register__confirmPassword">
                Full name length must be more than
                3 characters
            </p>

        </div>
    </div>

    <div class="">
        <div class="">
            <div class="">
                <input type="submit" class="register__submit" value="Register"/>
            </div>
        </div>
    </div>
    <p class="register__para">Have already an account?
        <a class="register__link" th:href="@{/login}"><u>Login here</u></a></p>
</form>


<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>